// // Base Color
// $base-color1: #fec544;
// $base-color2: #a9adb8;
// $base-color3: #fdfeff;
// $base-color4: #232935;

// // Dark Color
// $dark-color1: #151b29;
// $dark-color2: #070d1b;
// $dark-color3: #0a101e;
// $dark-color4: #101624;
// $dark-color5: #3f4551;

// Base Color
$base-color1: #ffde8d; // Correspondente ao #fec544
$base-color2: #e99138; // Correspondente ao #a9adb8
$base-color3: #fdfeff; // Mantido o branco do original
$base-color4: #73371b; // Correspondente ao #232935

// Dark Color
$dark-color1: #57322a; // Correspondente ao #151b29
$dark-color2: #502e22; // Correspondente ao #070d1b
$dark-color3: #4e382d; // Correspondente ao #0a101e
$dark-color4: #793e1e; // Correspondente ao #101624
$dark-color5: #7c5d0d; // Correspondente ao #3f4551